ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=change_this_password
KV_REST_API_URL=
KV_REST_API_TOKEN=
PRODUCTS_KV_KEY=naisham_products_v1
KV_REST_API_READ_ONLY_TOKEN="AqAFAAIgcDLY6HSVqDzVEWoVAmL6Riy2I9UF-dXokIPEksx5o4IC4A"
KV_REST_API_TOKEN="AaAFAAIncDI1MTI1YWQ0ZTczOWE0OWYyYTcyYWFmOTZiNWYyOTQ3OXAyNDA5NjU"
KV_REST_API_URL="https://pro-snapper-40965.upstash.io"
KV_URL="rediss://default:AaAFAAIncDI1MTI1YWQ0ZTczOWE0OWYyYTcyYWFmOTZiNWYyOTQ3OXAyNDA5NjU@pro-snapper-40965.upstash.io:6379"
REDIS_URL="rediss://default:AaAFAAIncDI1MTI1YWQ0ZTczOWE0OWYyYTcyYWFmOTZiNWYyOTQ3OXAyNDA5NjU@pro-snapper-40965.upstash.io:6379"